language: php
php:
  - 5.4
env:
  - SYMFONY_VERSION="2.3.*"
  - SYMFONY_VERSION="2.6.*"
before_script:
  - composer require symfony/symfony:${SYMFONY_VERSION} --prefer-dist
script:
  - php ./vendor/bin/phpunit --coverage-clover=build/logs/clover.xml
after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --access-token="80b65a15a783f3ca91af2635f701052e94179ebf84aad0a031dcc90dddd30394" --format=php-clover build/logs/clover.xml
matrix:
  include:
    # Build with PHP 5.5 and Symfony LTS
    - php: 5.5
      env: SYMFONY_VERSION="2.3.*"
    # Test the latest PHP and Symfony Next
    - php: 5.6
      env: SYMFONY_VERSION="2.7.*@dev"

  allow_failures:
    - env: SYMFONY_VERSION="2.7.*@dev"

  fast_finish: true

notifications:
  email:
    - dev@dankempster.co.uk

branches:
  only:
    - develop
    - master
